<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1><font color="#1e90ff">How to use it?</font></h1>
<h2>In order for the site to generate a password, you need to select the password length and the characters to be added
    to it.<br>By default, the password includes letters of the English alphabet in lowercase.</h2>

<br><br>
<h1><font color="#1e90ff">Info about author</font></h1>
<h2>My name is Mikhail Semenov, 18 y.o., I am a 2nd year student of the Department of Applied Informatics of MAI.</h2>
<h4>mail: mikhail.a.semenov@yandex.ru</h4>

&nbsp<a href="{% url 'home' %}" class="btn btn-warning"><font size="4">Back home</font></a></t>
